:root {
    --spacing: 104px;
    --spacing-half: calc(104px / 2);

    @media screen and (max-width: 768px) {
        --spacing: 56px;
        --spacing-half: calc(56px / 2);
    }
}

:root {
    --main-color: #dbdcdc;
    --sub-color: #3e3a39;
    --text-btn: #fff;
    --text-main: #231815;
    --text-sub: #3e3a39;
}

:root {
    --font-title: 2rem;
    --font-subtitle: #{px-to-rem(20)}rem;
    --font-body: 1rem;

    @media screen and (max-width: 768px) {
        --font-title: #{px-to-rem(20)}rem;
        --font-subtitle: #{px-to-rem(16)}rem;
        --font-body: #{px-to-rem(14)}rem;
    }
}
