.video {
    flex: 1;
    position:relative;
    transition: box-shadow 0.5s, translate 0.5s;
    aspect-ratio: 16/9;
    &:hover {
        box-shadow: 0px 8px 16px rgba(62, 58, 57, 0.3), 0px 16px 32px rgba(62, 58, 57, 0.1);
        translate: 0 -4px;
    }
}

.videos {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: nowrap;
    width: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 24px;
    }

}

iframe {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}